* {
	margin: 0;
	padding: 0;
}

html,
body {
	background-color: rgb(4, 15, 29);
}

.fixedPosition {
	overflow: hidden;
}

main {
	width: 80%;
	margin: auto;
}

/* Navbar */
.navbar {
	background-color: #333 !important;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.navbar-brand {
	font-size: 2rem;
	font-family: "Courgette", cursive;
	margin-left: 2rem;
	color: rgb(255, 223, 0) !important;
}

.nav-item {
	text-align: start;
	font-size: 1.2rem;
}

.nav-link {
	color: rgb(255, 223, 0) !important;
	font-family: "Caladea", serif;
	margin-right: 2rem;
}

a:hover {
	color: rgb(255, 255, 255) !important;
}

/* bootstrap making drop down menu style changes apears on hover*/
.dropdown-menu {
	background-color: #333;
	border: none;
	padding-top: 0;
	margin: 0;
}

.dropdown-item {
	color: rgb(183, 188, 192);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.dropdown-item:hover {
	color: black !important;
	background-color: rgb(183, 188, 192);
}

.dropdown-divider {
	margin: 0;
	width: 100%;
	margin: auto;
	border-color: #999;
}

.navbar-nav li:hover > div.drop {
	display: block;
}

/* Moon Cards */
.card-group {
	width: 90%;
	margin: auto;
	margin-top: 10rem !important;
}

.card {
	background: rgb(122, 122, 122);
}

.card-img-top {
	width: 75%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.card-title {
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
}

.card-body {
	background: rgb(90, 88, 88);
}

.card-text {
	padding: 0;
	font-size: 1rem;
}

.picture {
	text-align: center;
}

.btn {
	color: rgb(90, 88, 88);
	margin: auto;
	font-size: 3rem;
}

.line {
	border-color: rgb(122, 122, 122);
	width: 80%;
	margin: 3rem auto;
}

/* End Moon cards */

#sec2,
#sec3,
#sec4,
#sec5,
#sec6,
#sec7,
#sec8,
#sec9,
#sec10 {
	padding-top: 1rem;
}

h1 {
	color: rgb(255, 223, 0);
	text-align: center;
	font-size: 1.8rem;
	font-family: "Courgette", cursive;
	margin-top: 7rem;
}

h2,
.next-full-moon {
	color: rgb(250, 212, 77);
	text-align: start;
	margin: auto;
	margin-top: 7rem;
	margin-bottom: 2rem;
	font-size: 1.4rem;
	font-family: "Caladea", serif;
	width: 80%;
}

.tab {
	padding-left: 2.5rem;
}

.flow-left {
	margin-bottom: 1rem;
	margin-right: 2rem;
	float: left;
}

.flow-right {
	margin-bottom: 1rem;
	margin-left: 2rem;
	float: right;
}

.paragraph-body {
	color: rgb(183, 188, 192);
	width: 80%;
	margin: auto;
	margin-bottom: 0rem;
	font-size: 1rem;
	text-align: justify;
	text-justify: inter-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.img-size {
	width: 40%;
	border: 1px solid #777;
	border-radius: 1%;
}

.img-size:hover {
	opacity: 0.5;
	border: 2px solid #999;
}

/* Moon phase table */
.table-style {
	border: 1px solid rgb(26, 26, 26);
	margin: auto;
	width: 70%;
	margin-top: 5rem;
	background-color: #777;
}

th {
	font-size: 1rem;
	color: rgb(250, 212, 77);
	border: 1px solid rgb(26, 26, 26);
	padding: 0.5rem;
	padding-left: 1rem;
	background-color: #444;
}

td {
	font-size: 0.9rem;
	color: rgb(26, 26, 26);
	border: 1px solid rgb(26, 26, 26);
	padding: 1rem;
}

.moon-phase-pics {
	width: 20%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.moon-phase-pics:hover {
	opacity: 0.5;
}

.moon-allign-pics {
	text-align: center;
	padding: 0;
}

/* Moon Landing Gallery */
.moon-gallery {
	width: 85%;
	margin: auto;
	margin-top: 5rem;
}

.gallery-row {
	width: 100%;
	display: flex;
}

.gallery-img {
	border-radius: 1%;
	display: flex;
	margin: 1rem;
}

.moon-img {
	width: 100%;
	padding: 0;
	border: 1px solid silver;
}

.moon-img:hover {
	border: 2px solid #999;
	opacity: 0.5;
}

footer {
	color: rgb(183, 188, 192);
	margin-top: 8rem;
	background-color: #333;
	text-align: center;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

/* Footer links */
.link-section {
	display: flex;
	margin: auto;
	width: 85%;
}

.link-container {
	width: 20%;
	margin: auto;
	margin-top: 1rem;
}

.link-paragraph {
	text-align: start;
	font-size: 1rem;
	color: rgb(231, 239, 245);
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.link-paragraph:hover,
.link-body:hover {
	text-decoration: underline;
	color: khaki !important;
}

ul {
	list-style: none;
	text-align: start;
}

.link-body,
.contact,
.copy-right {
	color: rgb(183, 188, 192);
	font-size: 0.8rem;
}

.contact:hover {
	color: khaki !important;
}

.bottom {
	display: flex;
	width: fit-content;
	margin: auto;
}

.footer-line {
	width: 85%;
	border-color: rgb(105, 107, 109);
	margin: auto;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.fa-envelope {
	color: rgb(183, 188, 192);
	margin-bottom: 0.5rem;
}

.fa-envelope:hover {
	text-decoration: underline;
}

/* End of the first page */

/* Second page - Calendar */
.calendar {
	width: 65%;
	margin: 5rem auto;
	margin-bottom: 7.5rem;
	margin-top: 9rem;
}

.current-month {
	color: white;
	text-align: center;
	background: rgb(73, 73, 73);
	font-size: 1.5rem;
	flex: 3;
}

.back-to-current-month {
	color: white;
	font-size: 1rem;
	text-align: end;
	width: 100%;
	margin-bottom: 1rem;
}

.back-to-current-month:hover {
	opacity: 0.5;
}

.return-current-month-displayOn {
	display: none;
}

.col-down {
	margin: 0;
	margin-bottom: 0.5rem;
	font-size: 0.7rem;
	text-align: center;
	font-weight: 500;
	padding: 0;
	padding-top: 0.3rem;
	line-height: 0.8rem;
}

.col {
	background: rgb(122, 122, 122);
	width: 1%;
	border: 1px solid rgb(107, 107, 107);
	margin: 0;
	padding: 0;
}

.head-col {
	background: rgb(73, 73, 73);
	color: white;
	text-align: center;
}

.col-up {
	font-size: 0.7rem;
	font-weight: 400;
	padding: 0;
	text-align: right;
	margin-right: 0.5rem;
}

.col-body {
	margin: 0;
	text-align: center;
	padding: 0;
}

.image {
	width: 3rem;
	padding: 0;
}

.date-form {
	background: rgb(107, 107, 107);
	flex: 1;
	padding: 0.3rem;
	margin: auto;
}

.month-select,
.year-select,
.go-btn {
	margin-left: 1rem;
	width: 30%;
}

.btn-next,
.btn-previous {
	font-size: 1.3rem;
	color: whitesmoke;
}

.month-name {
	color: aliceblue;
	display: inline-block;
	font-size: 1.3rem;
	width: 80%;
}

.opacity-hover:hover {
	opacity: 0.5;
}

#new-moon,
#waxing-crescent,
#first-quarter,
#waxing-gibbous,
#full-moon,
#waning-gibbous,
#last-quarter,
#waning-crescent,
#NewMoon,
#WaxingCrescent,
#FirstQuarter,
#WaxingGibbous,
#FullMoon,
#WaningGibbous,
#LastQuarter,
#WaningCrescent {
	padding-top: 6rem;
}

/* Born on Full Moon */
.full-moon-born {
	width: 80%;
	margin: auto;
	text-align: start;
}

.paragraph-bornFullMoon {
	margin-bottom: 2rem;
	width: 100%;
}

.born-form {
	background: rgb(107, 107, 107);
	display: inline;
	padding: 0.7rem;
	border-radius: 2%;
}

.select-born-month,
.select-born-day,
.select-born-year,
.born-btn {
	width: 10%;
	cursor: pointer;
}

.extraSpace {
	width: 80%;
	margin: auto;
	padding-top: 0 !important;
}

.div-banner {
	width: 80%;
	margin: auto;
	display: flex;
}

.overideH2 {
	margin-top: 0;
}

.born-text {
	color: black;
	font-size: 1.1rem;
	margin: 1rem;
	width: 80%;
}

.born-img {
	width: 7rem;
	margin: 1rem;
}
.return-link-container {
	margin-top: 1rem;
}
.return-link {
	color: rgb(18, 8, 161);
	text-decoration: underline;
	font-size: 1.3rem;
	font-style: italic;
	margin-right: 1rem;
	font-weight: 600;
	height: fit-content;
	margin-top: 1rem;
}

.lineSpace {
	margin-bottom: 0rem;
}

.border-line {
	margin: auto;
	width: 80%;
}

/* End of second page */

/* Solar System page */
.solar-system-images {
	width: 40%;
	border-radius: 2%;
	border: 1px solid silver;
}

.planet-images {
	width: 25%;
	border: 1px solid silver;
	border-radius: 3%;
}

.solar-system-images:hover,
.planet-images:hover {
	border: 3px solid silver;
	opacity: 0.5;
}

.source {
	color: rgb(183, 188, 192);
	text-decoration: underline;
}

#size-distance,
#formation,
#structure-composition {
	padding-top: 1rem;
}

#sun,
#mercury,
#venus,
#earth,
#mars,
#jupiter,
#saturn,
#neptune,
#uranus {
	padding-top: 7rem;
	margin-top: 1rem;
}

/* End of 3rd page */

/* Page 4 */

#star-cluster,
#galaxies,
#top-objects,
#deep-object-gallery,
#video {
	padding-top: 6rem;
	margin-top: 0;
}

#top-objects > h2,
#video > h2 {
	margin-top: 0;
}

.video {
	width: 80%;
	height: 450px;
	margin: auto;
	margin-bottom: 10rem;
}

#top-objects {
	width: 85%;
	margin: auto;
}

iframe {
	width: 100%;
	height: 31rem;
}

.galaxy-gallery-row {
	display: flex;
	width: 85%;
	margin: auto;
}

.galaxy-gallery {
	width: 100%;
	height: 14rem;
}

figure {
	margin: auto;
	width: 30%;
	margin-top: 3rem;
}

figcaption {
	color: rgb(183, 188, 192);
	width: 100%;
	text-align: center;
	margin-top: 0.7rem;
}

.gallery-link {
	text-decoration: underline;
	text-decoration-color: rgb(183, 188, 192);
}

figcaption:hover {
	color: rgb(250, 212, 77);
}

.gallery-link:hover {
	text-decoration: none;
}

.astro-video {
	width: 80%;
	margin: auto;
}

video {
	width: 100%;
}

#video {
	width: 85%;
	margin: auto;
}

.video-paragraph {
	text-align: start;
	color: rgb(183, 188, 192);
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
}

video:focus {
	outline: none !important;
}
/* End of the page 4 */

/********************************** Responsivnes ********************************/

@media (max-width: 575px) {
	main {
		width: 90%;
	}

	.logo {
		margin: 0;
		font-size: 2rem;
	}

	.nav-link {
		font-size: 1.2rem;
		color: khaki !important;
	}

	.card-group {
		margin-top: 6rem !important;
		width: 90%;
	}

	.card {
		margin-top: 2rem;
	}

	.card-btn {
		font-size: 2.5rem !important;
		width: 100%;
	}

	.card-img-top {
		width: 75%;
	}

	#sec2,
	#sec3,
	#sec4,
	#sec5,
	#sec6,
	#sec7,
	#sec8,
	#sec9,
	#sec10 {
		padding-top: 2rem;
	}

	h1 {
		margin: auto;
		margin-top: 4rem;
		font-size: 1.6rem;
		width: 100%;
	}

	h2 {
		margin-top: 3rem;
		font-size: 1.2rem;
		width: 100%;
	}

	.line {
		width: 100%;
	}

	.table-style {
		table-layout: auto;
		width: 100%;
		margin-top: 4rem;
	}

	th {
		font-size: 0.9rem;
		padding: 0;
		text-align: center;
	}

	td {
		font-size: 0.8rem;
		text-align: center;
	}

	.moon-phase-pics {
		width: 50%;
	}

	.moon-gallery {
		width: 100%;
		text-align: center;
		margin-top: 3rem;
	}

	.gallery-img {
		margin: 0.7rem;
	}

	.moon-img {
		width: 100%;
	}

	.link-section {
		width: 90%;
	}

	.link-container {
		width: 22%;
	}

	.link-paragraph {
		font-size: 0.8rem;
		line-height: 1.5;
	}

	.links {
		line-height: 1.2;
	}

	.link-body,
	.contact,
	.copy-right {
		font-size: 0.7rem;
	}

	.bottom {
		width: 90%;
	}

	.footer-line {
		width: 90%;
	}

	/* page 2 */
	.calendar {
		width: 90% !important;
		margin-top: 7rem;
		margin-bottom: 5rem;
	}

	.date-form {
		display: flex;
	}

	.go-btn,
	.month-select,
	.year-select {
		font-size: 0.9rem;
		background-color: aliceblue;
	}

	.current-month {
		display: flex;
	}

	.btn {
		font-size: 1.5rem;
	}

	.image {
		width: 1.8rem !important;
	}

	.col-up {
		font-size: 0.5rem;
	}

	.col-down {
		font-size: 7px !important;
		line-height: 1.4;
	}

	.flow-right,
	.flow-left {
		width: 45%;
	}

	.flow-right {
		margin-left: 1rem;
	}

	.flow-left {
		margin-right: 1rem;
	}

	.img-size {
		width: 100%;
		margin-bottom: 1rem;
	}

	.solar-system-images {
		width: 100%;
	}

	.paragraph-body {
		font-size: 0.9rem;
		width: 100%;
	}

	.next-full-moon {
		width: 100%;
		margin-top: 3rem;
	}

	.full-moon-born {
		width: 100%;
	}

	.born-form {
		display: inline-block;
		width: 100%;
	}

	.select-born-month {
		width: 34% !important;
		margin-right: 0.4rem;
		background-color: aliceblue;
	}

	.select-born-day {
		width: 19%;
		margin-right: 0.4rem;
		background-color: aliceblue;
	}

	.select-born-year {
		width: 24%;
		margin-right: 0.4rem;
		background-color: aliceblue;
	}

	.born-btn {
		width: 13%;
		border-radius: 10%;
		background-color: aliceblue;
	}

	.div-banner {
		display: inline-block;
		width: 100%;
		border-radius: 2%;
	}

	.overideH2 {
		padding-top: 5rem !important;
	}

	.born-text {
		width: 90%;
		margin: auto;
		font-size: 1rem;
	}
	.return-link-container {
		margin-bottom: 1.5rem;
		margin-top: 1rem;
	}
	.return-link {
		margin-left: 1rem;
		font-size: 1.3rem;
	}

	.solar-system-h1 {
		margin-top: 7rem;
	}

	#size-distance,
	#formation,
	#structure-composition {
		padding-top: 3rem;
	}

	#sun,
	#mercury,
	#venus,
	#earth,
	#mars,
	#jupiter,
	#saturn,
	#neptune,
	#uranus {
		padding-top: 5rem;
		margin-top: 0;
	}

	/* 4th page */
	.deep-sky-obj-h1 {
		margin-top: 6rem;
	}

	#top-objects {
		width: 90%;
	}

	.video {
		height: 15rem;
		width: 100%;
		margin: 0;
	}

	iframe {
		height: 15rem;
	}

	.galaxy-gallery-row {
		width: 100%;
		height: 22vh;
	}

	.galaxy-gallery {
		height: 12vh;
	}

	figure {
		width: 28%;
	}

	figcaption {
		font-size: 0.5rem;
	}

	#video > h2 {
		width: 90%;
	}

	#video,
	.astro-video {
		width: 90%;
	}

	.video-paragraph {
		font-size: 0.8rem;
	}

	@media (max-width: 320px) {
		.born-form {
			font-size: 0.8rem;
		}

		.video {
			height: 12rem !important;
		}

		iframe {
			height: 11rem !important;
		}
	}

	@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
		.galaxy-gallery-row {
			height: 45vh;
		}

		.galaxy-gallery {
			height: 30vh;
		}
	}

	@media (max-width: 375px) {
		.select-born-month {
			width: 35%;
			margin-right: 0.4rem;
		}

		.select-born-day {
			width: 15%;
			margin-right: 0.4rem;
		}

		.select-born-year {
			width: 20%;
			margin-right: 0.4rem;
		}

		.born-btn {
			width: 15%;
			border-radius: 10%;
			background-color: aliceblue;
		}

		.galaxy-gallery-row {
			width: 100%;
			height: 20vh;
		}

		.galaxy-gallery {
			height: 10vh;
		}

		.video {
			height: 15rem;
		}

		iframe {
			height: 15rem;
		}

		.video-paragraph {
			font-size: 0.5rem;
		}
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	main {
		width: 100%;
	}

	.nav-link {
		font-size: 1.2rem;
		color: khaki !important;
	}

	.card-btn {
		font-size: 2.5rem !important;
	}

	.card-group {
		width: 90%;
	}

	.card-body {
		padding: 0.5rem;
	}

	.card-title {
		font-size: 0.8rem;
	}

	.card-text {
		font-size: 0.7rem;
	}

	.paragraph-body {
		font-size: 0.9rem;
	}

	th {
		font-size: 0.9rem;
	}

	td {
		font-size: 0.8rem;
	}

	.calendar {
		width: 80%;
	}

	.col-down {
		font-size: 0.6rem !important;
		line-height: 1.4;
	}

	.go-btn,
	.month-select,
	.year-select {
		background-color: aliceblue;
		width: 28%;
	}

	.select-born-year,
	.select-born-day,
	.select-born-month {
		width: 22%;
		margin-right: 0.4rem;
		background-color: aliceblue;
	}

	.born-btn {
		width: 10%;
		border-radius: 10%;
		background-color: aliceblue;
	}

	#top-objects {
		width: 90%;
	}

	iframe {
		height: 22rem;
	}

	.video {
		margin-bottom: 0;
	}

	.galaxy-gallery {
		height: 32vh;
	}

	figcaption {
		font-size: 0.7rem;
	}

	.astro-video {
		width: 90%;
	}

	.video-paragraph {
		font-size: 0.9rem;
	}

	#video > h2 {
		width: 90%;
	}

	.link-paragraph {
		font-size: 0.9rem;
	}

	.link-body,
	.contact,
	.copy-right {
		font-size: 0.7rem;
	}
}

@media (max-width: 991px) {
	.navbar-nav {
		max-height: 25rem;
		overflow-y: scroll;
	}
}

@media (max-width: 1366px) {
	.nav-link:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	main {
		width: 100%;
	}

	.nav-link {
		font-size: 1.2rem;
		color: khaki !important;
		border: none !important;
	}

	.card-group {
		width: 90%;
	}

	.moon-phase-pics {
		width: 30%;
	}

	.card-title {
		font-size: 0.9rem;
	}

	.card-text {
		font-size: 0.8rem;
	}

	.calendar {
		width: 80%;
		margin-top: 9rem;
	}

	.col-down {
		font-size: 0.7rem !important;
		line-height: 1.5;
	}

	.go-btn,
	.month-select,
	.year-select {
		background-color: aliceblue;
	}

	.select-born-year,
	.select-born-day,
	.select-born-month {
		width: 20%;
		margin-right: 0.4rem;
		background-color: aliceblue;
	}

	.born-btn {
		width: 10%;
		border-radius: 10%;
		background-color: aliceblue;
	}

	#top-objects {
		width: 90%;
	}

	iframe {
		height: 30rem;
	}

	.video {
		margin-bottom: 0;
	}

	.galaxy-gallery-row {
		width: 80%;
		margin: auto;
	}

	.galaxy-gallery {
		height: 14vh;
	}

	figcaption {
		font-size: 0.9rem;
	}

	#video > h2 {
		width: 90%;
	}

	.astro-video {
		width: 90%;
	}
}

@media (min-width: 1025px) and (max-width: 1366px) {
	main {
		width: 90%;
	}

	.select-born-year,
	.select-born-day,
	.select-born-month,
	.born-btn,
	.go-btn,
	.month-select,
	.year-select {
		background-color: aliceblue;
	}
}

@media (min-width: 1377px) and (max-width: 1599px) {
	.select-born-month {
		width: 15%;
	}
	main {
		width: 75%;
	}
}

@media (min-width: 1600px) and (max-width: 1999px) {
	main {
		width: 65%;
	}
}
@media (min-width: 2000px) and (max-width: 2299px) {
	main {
		width: 55%;
	}
}

@media (min-width: 2300px) {
	main {
		width: 50%;
	}
}
@media (max-width: 991px) and (orientation: landscape) {
	.navbar-nav {
		max-height: 15rem;
		overflow-y: scroll;
	}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.galaxy-gallery {
		height: 23vh;
	}
	.nav-link:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}

@media (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
	.galaxy-gallery {
		height: 40vh;
	}
}

@media (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
	.select-born-month {
		width: 20%;
	}
	.nav-link:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}
