* {
	margin: 0;
	padding: 0;
}
html {
	background-color: rgb(4, 15, 29);
}
body {
	background: url("images/background.jpg") no-repeat left center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 85%;
	margin: auto;
	border-left: 1.5px solid #333;
	border-right: 1.5px solid #333;
}
/* Navbar */
.navbar {
	font-size: 22px;
	background-color: #333 !important;
}

.navbar-brand {
	font-size: 2.3rem;
	font-family: "Courgette", cursive;
	margin-left: 2rem;
	color: rgb(255, 223, 0) !important;
}

.nav-link {
	margin-left: 2rem;
	color: rgb(255, 223, 0) !important;
	font-family: "Caladea", serif;
}
.nav-link-gallery {
	margin-right: 3rem;
}
a:hover {
	color: rgb(255, 255, 255) !important;
}

/* Moon Cards */
.card-group {
	width: 90%;
	margin: auto;
	margin-top: 9rem;
	margin-bottom: 7rem;
}

.card {
	background: rgb(122, 122, 122);
}

.card-img-top {
	width: 75%;
	margin: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.card-title {
	text-align: center;
	font-size: 1.1rem;
	font-weight: bold;
}

.card-body {
	background: rgb(90, 88, 88);
}

.card-text {
	padding: 0;
	font-size: 1rem;
}

.picture {
	text-align: center;
}

.btn {
	color: rgb(90, 88, 88);
	margin: auto;
	font-size: 4rem;
}

.line {
	border-color: rgb(122, 122, 122);
	width: 85%;
	margin: 5rem auto;
}

/* End Moon cards */

h1 {
	color: rgb(255, 223, 0);
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 3rem;
	font-size: 2rem;
	font-family: "Courgette", cursive;
}
h2 {
	color: rgb(250, 212, 77);
	text-align: start;
	margin: auto;
	margin-top: 7rem;
	margin-bottom: 3rem;
	font-size: 1.5rem;
	font-family: "Caladea", serif;
	width: 85%;
}

.tab {
	padding-left: 2.5rem;
}
.flow-left {
	margin-bottom: 1rem;
	margin-right: 2rem;
	float: left;
}
.flow-right {
	margin-bottom: 1rem;
	margin-left: 2rem;
	float: right;
}
.paragraph-body {
	color: rgb(183, 188, 192);
	width: 85%;
	margin: auto;
	margin-bottom: 0rem;
	font-size: 1.1rem;
	text-align: justify;
}

.img-size {
	width: 40%;
	border: 1px solid #777;
	border-radius: 1%;
}
.img-size:hover {
	opacity: 0.5;
	border: 2px solid #999;
}

/* Moon phase table */
.table-style {
	border: 1px solid rgb(26, 26, 26);
	margin: auto;
	width: 75%;
	margin-top: 5rem;
	background-color: #777;
}

th {
	font-size: 1.2rem;
	color: rgb(250, 212, 77);
	border: 1px solid rgb(26, 26, 26);
	padding: 0.5rem;
	background-color: #444;
	text-align: center;
}

td {
	font-size: 1rem;
	color: rgb(26, 26, 26);
	border: 1px solid rgb(26, 26, 26);
	padding-left: 3rem;
}

.moon-phase-pics {
	width: 20%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.moon-phase-pics:hover {
	opacity: 0.5;
}

.moon-allign-pics {
	text-align: center;
	padding: 0;
}

/* Moon Landing Gallery */
.moon-gallery {
	width: 85%;
	margin: auto;
}

.card {
	border-radius: 1%;
}

.card-deck {
	margin-top: 5rem;
}

.moon-img {
	width: 100%;
	padding: 0;
}

.moon-img:hover {
	border: 2px solid silver;
	opacity: 0.5;
}

footer {
	color: rgb(183, 188, 192);
	margin-top: 8rem;
	background-color: #333;
	text-align: center;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.fa-envelope {
	color: rgb(183, 188, 192);
	margin-left: 0.5rem;
}
/* End of the first page */

/* Second page - Calendar */
.calendar {
	width: 60%;
	margin: 4rem auto;
	height: auto;
	margin-bottom: 7.5rem;
}

.current-month {
	color: white;
	text-align: center;
	background: rgb(73, 73, 73);
	font-size: 1.5rem;
	flex: 3;
}

.col-down {
	margin: 0;
	margin-bottom: 0.5rem;
	font-size: 0.7rem;
	text-align: center;
	font-weight: 500;
	padding: 0;
	padding-top: 0.3rem;
	line-height: 0.8rem;
}

.col {
	background: rgb(122, 122, 122);
	width: 1%;
	border: 1px solid rgb(107, 107, 107);
	margin: 0;
	padding: 0;
}

.head-col {
	background: rgb(73, 73, 73);
	color: white;
	text-align: center;
}

.col-up {
	font-size: 0.7rem;
	font-weight: 400;
	padding: 0;
	text-align: right;
	margin-right: 0.5rem;
}

.col-body {
	margin: 0;
	text-align: center;
	padding: 0;
}

.image {
	height: auto;
	width: 3.5rem;
	margin: auto;
	padding: 0;
	text-align: center;
}

.date-form {
	background: rgb(107, 107, 107);
	flex: 1;
	margin: auto;
	text-align: center;
	padding: 0.3rem;
}

.month-select,
.year-select,
.go-btn {
	margin-left: 1rem;
	width: 30%;
}

.btn-next,
.btn-previous {
	font-size: 1.3rem;
	color: whitesmoke;
}

.month-name {
	color: aliceblue;
	display: inline-block;
	font-size: 1.3rem;
	width: 80%;
}

.opacity-hover:hover {
	opacity: 0.5;
}

/* Next Full Moon */
.next-full-moon {
	color: rgb(255, 223, 0);
	text-align: start;
	margin-top: 7rem;
	margin-bottom: 2rem;
	font-size: 1.5rem;
	margin-left: 6rem;
	font-family: "Caladea", serif;
}

/* Born on Full Moon */
.full-moon-born {
	width: 85%;
	margin: auto;
	text-align: start;
}

.paragraph-bornFullMoon {
	margin-bottom: 2rem;
	margin-left: 0;
}

.born-form {
	background: rgb(107, 107, 107);
	display: inline;
	padding: 1rem;
}

.select-born-month,
.select-born-day,
.select-born-year,
.born-btn {
	width: 10%;
	padding: 0;
}

.return-link {
	color: red;
	float: right;
	text-decoration: underline;
	font-size: 1.3rem;
	font-style: italic;
	margin-top: 2rem;
}

.div-banner {
	width: 85%;
	margin: auto;
	display: flex;
}

.born-text {
	color: black;
	font-size: 1.1rem;
	margin: 1rem;
}

.born-img {
	width: 7rem;
	margin: 1rem;
}

.extraSpace {
	height: 3rem;
	width: 85%;
	margin: auto;
}

.lineSpace {
	margin-bottom: 0rem;
}

.border-line {
	margin: auto;
	width: 85%;
}

/* @media (max-width: 1055px) and (min-width: 901px) {
	.image {
		width: 4rem;
	}
}

@media (max-width: 900px) and (min-width: 576px) {
	.card-text {
		padding: 0;
		font-size: 0.8rem;
	}

	.card-title {
		text-align: center;
		font-size: 1rem;
		font-weight: bold;
	}

	.card-group {
		width: 100%;
		margin: auto;
		margin-top: 9rem;
		margin-bottom: 7rem;
	}

	.line {
		border-color: rgb(122, 122, 122);
		width: 90%;
		margin: auto;
		margin-top: 5rem;
	}

	.moon-explain-tittle {
		color: aliceblue;
		text-align: center;
		margin-top: 7rem;
		margin-bottom: 3rem;
		font-family: "IBM Plex Sans", sans-serif;
		font-size: 1.7rem;
	}

	.moon-explain-body {
		color: aliceblue;
		width: 90%;
		margin: auto;
		margin-bottom: 5rem;
		font-size: 1rem;
		text-align: justify;
	}

	.moon-diagram {
		display: block;
		max-width: 90%;
		margin: 5rem auto;
	}

	.calendar {
		width: 85%;
		margin: auto;
		margin-top: 1rem;
		height: auto;
		margin-bottom: 4rem;
	}

	.col-down {
		margin: auto;
		font-size: 0.5rem;
		color: rgb(38, 38, 38);
		padding: 0;
		padding-top: 0.3rem;
		line-height: 0.7rem;
	}

	.col {
		background: rgb(122, 122, 122);
		width: 10%;
		height: 6.5rem;
		border: 1px solid rgb(107, 107, 107);
		margin: auto;
		padding: 0;
	}

	.head-col {
		width: 12%;
		height: auto;
		background: rgb(73, 73, 73);
		font-size: 0.9rem;
	}

	.col-up {
		font-size: 0.6rem;
		padding: 0;
		padding-right: 0.5rem;
		text-align: right;
		margin: 0;
	}

	.image {
		height: auto;
		width: 3rem;
		margin: auto;
		padding: 0;
		text-align: center;
	}

	.month-select,
	.year-select,
	.go-btn {
		width: 28%;
	}

	.btn-next,
	.btn-previous {
		font-size: 1.5rem;
	}

	.month-name {
		font-size: 1.3rem;
		width: 50%;
	}

	.full-moon {
		width: 20rem;
	}

	.next-moon {
		font-size: 1.7rem;
		width: 90%;
	}
}

@media (max-width: 575px) {
	.card-group {
		margin-top: 2rem;
		margin-bottom: 0rem;
	}

	.which {
		margin-top: 2rem;
		font-size: 1.3rem;
		width: 90%;
		line-height: 2rem;
	}

	.calendar-btn {
		margin-right: 1rem;
		width: 35%;
	}

	.input-calendar {
		margin-left: 1rem;
		width: 35%;
	}

	.moon-img {
		height: 60vw;
	}

	.card-deck {
		margin-bottom: 0;
		margin-top: 0;
	}

	.card {
		margin-top: 2rem;
	}

	.apollo-story {
		margin: 2rem;
	}

	.moon-parag {
		margin: auto;
		width: 90%;
		font-size: 1.5rem;
	}

	.born-newMoon,
	.born-waxingCrescent,
	.born-firstQuarter,
	.born-waxingGibbous,
	.born-fullMoon,
	.born-waningGibbous,
	.born-lastQuarter,
	.born-waningCrescent {
		width: 85%;
		margin: auto;
	}

	.newMoon-img,
	.waxingCrescent-img,
	.firstQuarter-img,
	.waxingGibbous-img,
	.fullMoon-img,
	.waningGibbous-img,
	.lastQuarter-img,
	.waningCrescent-img {
		float: none;
		padding: 0;
		margin-bottom: 2rem;
	}

	.for-center {
		text-align: center;
	}

	.calendar {
		width: 85%;
		margin: auto;
		margin-top: 1rem;

		height: auto;
		margin-bottom: 4rem;
	}

	.col-down {
		margin: auto;
		font-size: 0.3rem;
		color: rgb(38, 38, 38);
		padding: 0;
		padding-top: 0.3rem;
		line-height: 0.4rem;
	}

	.col {
		background: rgb(122, 122, 122);
		width: 10%;
		height: 4.5rem;
		border: 1px solid rgb(107, 107, 107);
		margin: auto;
		padding: 0;
	}

	.head-col {
		width: 12%;
		height: auto;
		background: rgb(73, 73, 73);
		font-size: 0.5rem;
	}

	.col-up {
		font-size: 0.5rem;
		padding-right: 0.4rem;
		text-align: right;
		margin: 0;
	}

	.col-body {
		margin: auto;
		text-align: center;
		padding: 0;
	}

	.image {
		height: auto;
		width: 2rem;
		margin: auto;
		padding: 0;
		text-align: center;
	}

	.date-form {
		background: rgb(107, 107, 107);
		flex: 1;
		margin: auto;
		text-align: center;
		padding: 0.3rem;
	}

	.month-select,
	.year-select,
	.go-btn {
		width: 25%;
		font-size: 0.6rem;
	}

	.btn-next,
	.btn-previous {
		font-size: 1.3rem;
	}

	.month-name {
		font-size: 1rem;
		width: 40%;
	}

	.full-moon {
		width: 15rem;
	}

	.next-moon {
		font-size: 1.5rem;
		width: 90%;
	}

	.moon-cal-text {
		margin-top: 3rem;
	}
} */
